<!-- <input type="button" id="login" name="login" class="login loginmodal-submit" value="Login" (click)="logIn()"> -->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

<div class="container">

    <script id="metamorph-1-start" type="text/x-placeholder"></script>
    <script id="metamorph-21-start" type="text/x-placeholder"></script>

    <div class="container text-center row">

        <div class="col-md-6" style="top:30px;">
            <img src="../../I-O.jpg">
        </div>
        <div class="col-md-6" data-ember-action="2" style="top:150px">
            <div>
                <h2 class="form-signin-heading" style="color:#da573b">Prestamos BlockChain</h2>

                <small class="text-muted">Conéctate usando tu cuenta de google</small>
                <br>
                <br>

                <p>
                    <a class="btn btn-primary social-login-btn social-google" (click)="logIn()" style="height: 40px;width: 80px;">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>